*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #27282c;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading{
    width: 600px;
    padding: 0px 10px 15px 10px;
    color: #FFF;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.377);
    box-shadow: 0px 4px 4px 0px rgba(119, 119, 119, 0.05);
}

.main-description{
    font-size: 18px;
    color: #ffffff86;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
}

.colors-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    height: 30px;
    padding: 10px 20px;
    background-color: #323745;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color .3s;
}

.colors-container:hover{
    background-color: #3e4454;
}

.colors-container:active{
    background-color: #2f3441;
}

.all-colors{
    color: #cacaca;
}

.fa-clone{
    color: #FFF;
}

.fa-check{
    font-size: 20px;
    color: green;
    position: relative;
}

.fa-check::after{
    content: 'Copied!';
    position: absolute;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    top: -250%;
    left: -150%;
    width: 70px;
    height: 16px;
    padding: 5px;
    font-size: 14px;
    border-radius: 7px;
    color: #fff;
    background-color: #323745;
    outline: 2px solid green;
    animation: copied .3s;
}

@keyframes copied{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    width: 1000px;
    height: 450px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.col{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2:hover{
    background-color: rgba(0, 0, 0, .1);
}

.col h2{
    padding: 10px;
    color: #FFF;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color .3s;
}

.col button{
    font-size: 1.5rem;
    color: #FFF;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
    outline: none;
}

.col button:hover{
    background-color: rgba(0, 0, 0, .1);
}
