*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #3e3e40; 
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #27282c;
    border-bottom: 1px solid #828282cc;
}

.main-heading{
    color: #FFF;
    letter-spacing: 1px;
}

.header__nav{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.select{
    position: relative;
    z-index: 5;
    margin-right: 15px;
}

.select__back-drop{
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.select__open .select__dropdown{
    display: flex;
    border: 1px solid #828282cc;
}

.select__open .select__input{
    border: 1px solid #828282cc;
}

.select__open .select__back-drop{
    display: block;
}

.select__open .select__input{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select__input{
    color: #cacaca;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3e3e40;
    cursor: pointer;
}

.select__dropdown{
    display: none;
    position: absolute;
    color: #cacaca;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 54px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #3e3e40;
    overflow: hidden;
}

.select__list{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.select__item{
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s;
}

.select__item:not(:first-child){
    border-top: 1px solid #828282cc;
}

.select__item-selected{
    background-color: #697db5;
}

.select__item:hover{
    background-color: #48526d;
}

.button-container{
    min-width: 35px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: background-color .3s, transform .3s, width .3s;
}

.button-container:hover{
    width: 160px;
    background-color: #48526d;
}

.button-container:hover .button-description{
    opacity: 1;
    transform: translateX(0);
}

.button-container:hover .select__input{
    transform: translateX(-20px);
}

.button-container:active{
    transform: scale(.95);
    background-color: #49577d;
}

.button-description{
    width: 110px;
    margin-left: 10px;
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
    color: #cacaca;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .2s, transform .3s;
    user-select: none;
}

.fa-share-from-square{
    font-size: 18px;
    color: #cacaca;
    cursor: pointer;
    padding: 10px 7px 8px 10px;
    border-radius: 50%;
    text-align: center;
}

.nav{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #27282c;
}

.content{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-label{
    color: #cacaca;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#inputCalc{
    text-align: center;
    width: 50px;
    height: 30px;
    margin-left: 7px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.116);
    border: none;
    outline: none;
    color: #cacaca;
}

.section-description{
    width: 100%;
    background-color: #27282c;
}

.description-block{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.main-description{
    font-size: 18px;
    color: #cacaca;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    margin-right: 50px;
}

.update-colors-btn{
    min-width: 35px;
    min-height: 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/update.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}


.colors-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    height: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s , transform .3s;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.colors-container:hover{
    background-color: #48526d;
}

.colors-container:active{
    transform: scale(.99);
    background-color: #49577d;
}

.all-colors, .lng-all-colors{
    color: #cacaca;
}

.fa-clone{
    color: #FFF;
}

.fa-check{
    font-size: 20px;
    color: green;
}

.fa-sharp{
    margin-right: 10px;
    font-size: 20px;
    color: #000000;
}

.copyed-push{
    display: flex;
    align-items: center;
    position: absolute;
    top: 85%;
    margin: 0 auto;
    color: #fff;
    padding: 0px 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    margin-top: 10px;
}

.push-close{
    transition: opacity .5s;
    opacity: 0;
}

.push-open{
    opacity: 1;
    animation: copyed .5s;
}

@keyframes copyed{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    width: 100%;
    height: 76vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    overflow: hidden;
}

.col{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.heading-container{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color .3s, transform .3s, width .3s;
    overflow: hidden;
}

.heading-container:hover{
    width: 130px;
    background-color: rgba(0, 0, 0, .1);
}

.heading-container:active{
    transform: scale(0.95);
}

.heading-container:hover .heading-copy{
    opacity: 1;
    transform: translateX(0);
}

.heading-copy{
    font-size: 16px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .3s, transform .3s;
}

.col h2{
    color: #FFF;
    cursor: pointer;
}

.col button{
    font-size: 1.5rem;
    color: #FFF;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color .3s, transform .3s;
    outline: none;
}

.col button:hover{
    background-color: rgba(0, 0, 0, .1);
    transform: scale(1.1);
}
